<h1 class="first-header">Gentoo Infrastructure Status</h1>

<p>This data is aggregated from our automated service monitoring system as well as the outage and maintenance notices posted below.</p>

<h2>Service Availability Overview</h2>

<div class="row">
  <div class="col-lg-4">
    <h3>Community Services</h3>
    <%= services_info %w[www forums wiki planet pgo lists archives] %>
  </div>
  <div class="col-lg-4">
    <h3>Development Services</h3>
    <%= services_info %w[cvs bugzilla rsync devmanual overlays sources] %>
  </div>
  <div class="col-lg-4">
    <h3>Developer Resources</h3>
    <%= services_info %w[dgo_ssh dgo_http dgo_smtp dgo_mbox blogs] %>
  </div>
</div>

<h2 id="notices">Maintenance and Outage Notices <small id="notices-for"></small></h2>

<%= partial :notice, :collection => NoticeStore.instance.visible_notices %>
