<h1 class="first-header">Gentoo Infrastructure Status</h1>

<p>This data is aggregated from our automated service monitoring system as well as the outage and maintenance notices posted below.</p>

<h2>Service Availability Overview</h2>

<div class="row">
  <div class="col-lg-4">
    <%= render_column 1 %>
  </div>
  <div class="col-lg-4">
    <%= render_column 2 %>
  </div>
  <div class="col-lg-4">
    <%= render_column 3 %>
  </div>
</div>

<h2 id="notices">Maintenance and Outage Notices <small id="notices-for"></small></h2>

<%= partial :notice, :collection => NoticeStore.instance.visible_notices %>
