<!DOCTYPE html>
<html>
<head>
  <title>Gentoo Infrastructure Status</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <link href="/assets/css/bootstrap.css" rel="stylesheet" media="screen">
  <link rel="icon" href="http://www.gentoo.org/favicon.ico" type="image/x-icon">
</head>
<body>
<header>
  <div class="site-title">
    <div class="container">
      <div class="row">
        <div class="site-title-buttons hidden-xs">
          <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-primary">Get Gentoo!</button>
            <div class="btn-group btn-group-sm">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-globe"></span> gentoo.org sites <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="http://www.gentoo.org/">gentoo.org</a></li>
                <li><a href="http://wiki.gentoo.org/" title="Find and contribute documentation">Wiki</a></li>
                <li><a href="https://bugs.gentoo.org/" title="Report issues and find common issues">Bugs</a></li>
                <li><a href="http://forums.gentoo.org/" title="Discuss with the community">Forums</a></li>
                <li><a href="http://packages.gentoo.org/" title="Find software for your Gentoo">Packages</a></li>
                <li class="divider"></li>
                <li><a href="http://archives.gentoo.org/" title="Read up on past discussions">Archives</a></li>
                <li><a href="http://overlays.gentoo.org/" title="Collaborate on maintaining packages">Overlays</a></li>
                <li>
                  <a href="http://planet.gentoo.org/" title="Find out what's going on in the developer community">Planet</a>
                </li>
                <li><a href="http://sources.gentoo.org/" title="Browse our source code">Sources</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="logo">
          <img src="/assets/img/site-logo.png" alt="Gentoo Linux Logo"/>
          <span class="site-label">Infra Status</span>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-default navbar-static-top clearfix" role="navigation">
    <div class="container">
      <div class="row">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse navbar-main-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/feed.atom"><span class="glyphicon glyphicon-bullhorn"></span> Atom Feed</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <%= yield %>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p>
          Status data updated at <em><%= date_format ServiceRegistry.instance.load_date %>.</em><br />
          Notices updated at <em><%= date_format NoticeStore.instance.load_date %>.</em><br />
          Served by <em><%= Socket.gethostname == 'avocet' ? 'infra-status-web1' : 'infra-status-web2' %>.</em>
        </p>
        <p>
          Fugue iconset by <a href="http://p.yusukekamiyamane.com/">Yusuke Kamiyamane</a>.
        </p>
      </div>
      <div class="col-md-4">
        <strong>Questions or comments?</strong><br/>
        Please feel free to <a href="mailto:infra@gentoo.org">contact us</a>.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <strong>&copy; 2001-2014 Gentoo Foundation, Inc.</strong><br/>
        <small>
          Gentoo is a trademark of the Gentoo Foundation, Inc.
          The contents of this document, unless otherwise expressly stated, are licensed under the
          <a href="http://creativecommons.org/licenses/by-sa/3.0/" rel="license">CC-BY-SA-3.0</a> license.
          The <a href="#">Gentoo Name and Logo Usage Guidelines</a> apply.
        </small>
      </div>
    </div>
  </div>
</footer>

<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/bootstrap.js"></script>
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://piwik.gentoo.org/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "5"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
</body>
</html>
